#p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
}

#p2{
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

#p3{
    font-family: 'Times New Roman', Times, serif;
}

#p4{
    font-family: Verdana, Geneva, Tahoma;
}

#p5{
    font-family: Cambria, Cochin, Georgia;
}