@import url('https://fonts.cdnfonts.com/css/netflix-font');

header{
    background: black;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

body{
    background: black;                                               
}

#menu a{
    color: white;
    text-decoration: none;
    font-family: 'Netflix Font';
    margin-left: 60px;
    font-size: 60px;
}



#menu a:hover{
    color: red;
    font-size: 70px;
    
}

#active{
    color: blue;
    font-size: 125px;
}



#titulares{
    color: white;
    margin-left: 8px;
    font-family: 'Netflix Font';
}
