html{
background: tan;
}

#titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: darkgoldenrod;
    background:url(./imagenes/poiopanoramica.jpg) no-repeat center center ;
    background-size: cover;
    margin-top: -8px;
    margin-left: -8px;
    padding: 12px;
    width: 100%;
    position: fixed;
}

.parent{
    border: 2px black dotted;
    display: inline-block;
}

.box{
    background: red;
    /*width: 100%;
    height: 100%;*/
    display: inline-block;
    /*margin-top: 80px;
    position: relative;*/
}

#menu{
    /*margin-top:-34px ;
    margin-right: -8px;
    margin-left: -8px;
    padding: 25px;
    background:whitesmoke ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    width: 100%;
    position: static;*/
}

.icomenu{
    float: left;
}

.amenu{
    text-decoration: none;
    color: black;
}