header{
    background: black;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

body{
    background: black;
}

.box{
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid;
    width: 300px;
    height: 450px;
}

.parent{
    border: 2px solid;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";
}
.box img {
    transition: transform 0.5s; 
}

.box img:hover {
    transform: scale(1.1); 
}